extends layout

block content
  h1= title

  // Button to go to the create page
  a(href="/furniture/create")
    button.btn.btn-primary.ml-1(type="button") Create New Furniture

  - let items = results;
  div(class='container-fluid')
    div(class='row m-1')
      each item in items
        - let updateDestination = `dispatch("/furniture/update?id=${item._id}")`
        - let detailDestination = `dispatch("/furniture/detail/?id=${item._id}")`
        - let deleteDestination = `dispatch("/furniture/delete/?id=${item._id}")`

        div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.finish}) is #{item.price}  
          button.btn.btn-primary.ml-1(type='button', onclick=updateDestination) Update
          button.btn.btn-info.ml-1(type='button', onclick=detailDestination) View Details
          button.btn.btn-danger.ml-1(type='button', onclick=deleteDestination) Delete

  script.
    function dispatch(path){
      window.location.href = path;
    }